body{
    background-color: red;
}
h1{
    color: green;
    border: 1px white;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center;
}
p{
    color:aqua;
    text-align: center;
    bottom: 30px;
    background-color: rgb(255, 0, 0);
    box-shadow: 30px, 30px, 10px, 30px ;
}